<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div>Real Time Stock Analysis S.A.</div>
      <div>
        <i class="fa fa-facebook fa-lg mr-3"></i>
        <i class="fa fa-instagram fa-lg mr-3"></i>
        <a href="https://www.linkedin.com/in/fernando-jes%C3%BAs-gonz%C3%A1lez-mart%C3%ADnez-180816155/" target="_blank"><i class="fa fa-linkedin fa-lg" ></i></a>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <span class="text">Enlace a Github</span><br>
      <a href="https://github.com/koifist" target="_blank"><i class="fa fa-github fa-lg" ></i></a>
    </div>
  </div>
</div>
