.navbar {
  height: 65px;
}
img.image{
  height: 40px;
}
.navbar {
  padding-top: 2px;
}
.navbar-brand:hover {
  border-width: 0px;
}
.nav-item{
  font-size: 20px;
  font-weight: 600;
  padding: 0px;
  margin-right: 30px;
  color: white;
}
.drop{
  font-weight: 600 !important;
  font-size: x-large !important;
}
#nav1 {
  position: fixed !important;
  z-index: 100;
  width: 100%;
}
#nav2 {
  position: fixed !important;
  z-index: 100;
  width: 100%;
}
.fa-bars{
  color:white;
}
#options{
  background-color: #343a40 !important;
}
.option{
  border-top: 1px solid white;
}
.item{
  color: white !important;
  padding: 3px;
  font-size: 20px;
}
@media (max-width: 799px) {
  #nav1{
    display: none;
  }
}
@media (min-width: 800px) {
  #nav2{
    display: none;
  }
}
