.navbar {
  height: 65px;
  width: 100%;
  position: fixed !important;
  z-index: 100;
}
img.image{
  height: 40px;
}
.navbar {
  padding-top: 2px;
}
.navbar-brand:hover {
  border-width: 0px;
}
.nav-item{
  font-size: 20px;
  font-weight: 600;
  padding: 0px;
  margin-right: 30px;
  color: white;
}
.drop{
  font-weight: 600 !important;
  font-size: x-large !important;
}
