<div id="nav1">
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand justify-content-center" routerLink="/home"><img alt="img" class="image" src="../../assets/media/logo.png"></a>
  <ul class="nav navbar-center">
    <li><a class="nav-item" [routerLink]="['/admZone']" routerLinkActive="active" *ngIf="this.user['role']==='ADM'"><span>ADM ZONE</span></a></li>
    <li><a class="nav-item" [routerLink]="['/broZone']" routerLinkActive="active" *ngIf="this.user['role']==='BRO'"><span>BROKER ZONE</span></a></li>
    <li><a class="nav-item" [routerLink]="['/RTSAZone']" routerLinkActive="active" *ngIf="this.user['role']==='PUB'"><span>RTSA ZONE</span></a></li>
  </ul>
  <form class="form-inline">
  <ul class="nav">
    <li><a class="nav-item" [routerLink]="['/login']" routerLinkActive="active" *ngIf="!this.user">Iniciar Sesion</a></li>
    <div ngbDropdown class="d-inline-block" display="dynamic" placement="bottom-right" *ngIf="this.user">
      <li><a class="nav-item" ngbDropdownToggle style="cursor:pointer;color: white"><fa-icon [icon]="faUser" ></fa-icon></a></li>
      <div ngbDropdownMenu class="drop">
        <button ngbDropdownItem [routerLink]="['/profile']"  routerLinkActive="active" >Mi cuenta</button>
        <button ngbDropdownItem (click)="logOut()" [routerLink]="['/home']"  routerLinkActive="active" >Cerrar sesion</button>
      </div>
    </div>
  </ul>
  </form>
</nav>
</div>
<div id="nav2">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand justify-content-center" routerLink="/home"><img alt="img" class="image" src="../../assets/media/logo.png"></a>
    <a class="navbar-brand justify-content-right" (click)="activeOptions()"><i class="fa fa-bars fa-lg" ></i></a>
  </nav>
  <div id="options" *ngIf="options" (click)="activeOptions()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 option" *ngIf="this.user['role']">
          <div class="container-fluid text-center"><a class="item" [routerLink]="['/admZone']" routerLinkActive="active" *ngIf="this.user['role']==='ADM'"><span>ADM ZONE</span></a></div>
          <div class="container-fluid text-center"><a class="item" [routerLink]="['/broZone']" routerLinkActive="active" *ngIf="this.user['role']==='BRO'"><span>BROKER ZONE</span></a></div>
          <div class="container-fluid text-center"><a class="item" [routerLink]="['/RTSAZone']" routerLinkActive="active" *ngIf="this.user['role']==='PUB'"><span>RTSA ZONE</span></a></div>
        </div>
        <div class="col-12 option" *ngIf="!this.user">
          <div class="container-fluid text-center"><a class="item" [routerLink]="['/login']" routerLinkActive="active">Iniciar Sesion</a></div>
        </div>
        <div class="col-12 option" *ngIf="this.user">
          <div class="container-fluid text-center"><a class="item" [routerLink]="['/profile']" routerLinkActive="active" >Mi cuenta</a></div>
        </div>
        <div class="col-12 option" *ngIf="this.user">
          <div class="container-fluid text-center"><a class="item" [routerLink]="['/home']" routerLinkActive="active" (click)="logOut()">Cerrar sesion</a></div>
        </div>
      </div>
    </div>
  </div>

</div>
