<div id="login" class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-4 m-auto">
      <h2>Inicia sesión</h2>
      <hr class="black_hr text-center">
    </div>
  </div>
  <div class="row">
      <form class="col-lg-5 m-auto col-sm-12 p-0" [formGroup]="loginForm" (ngSubmit)="login()" >
        <input type="text" class="input-text"  formControlName="username"  placeholder=" Email">
        <input type="password" class="input-text"  formControlName="password"  placeholder=" Contraseña">
        <div class="back-next">
          <input type="submit" class="r-button mt-3" value="Entrar">
        </div>
      </form>
    <div class="col-12">
        <div id="sign-up" style="padding-top: 50px">¿No tienes cuenta? <a routerLink="/register" class="underline">Regístrate</a></div>
    </div>
  </div>
</div>
