<div id="admin" class="my-4">
  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="w-100 heightAlign borderStyle mb-3 scrollBar">
        <div class="row mx-0 border-bottom py-1" *ngFor="let user of users">
          <div class="col-7 px-0 text-center overflow-hidden">{{user.username}}</div>
          <div class="col-3 pr-0 text-center">
            <ui-switch [checked]="user.isBroker" [disabled]="!user.active" (change)="changeRole($event, user._id)"></ui-switch>
          </div>
          <div class="col-2 px-0 text-center" *ngIf="user.active">
            <fa-icon [icon]="trash" class="pointer2 " (click)="deleteUser(user._id)"></fa-icon>
          </div>
          <div class="col-2 px-0 text-center" *ngIf="!user.active">
            <fa-icon [icon]="plus" class="pointer1" (click)="activateUser(user._id)"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="w-100 heightAlign borderStyle scrollBar">
        <div class="row mx-0 border-bottom py-1" *ngFor="let msg of messages">
          <div class="col-10 px-0 text-left overflow-hidden">
            <div class="mx-auto text-center"><span class="brokerName py-1 px-3">{{msg.username}}</span></div>
            {{msg.msg}}</div>
          <div class="col-2 px-0 text-center my-auto">
            <fa-icon [icon]="trash" class="pointer2 " (click)="deleteMessage(msg._id)"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
