<div id="admin">
  <div class="public-container" style="margin:30px">
    <div class="row">
      <div class="col-5" style="margin-left: 20px">
        <div class="flex">
          <div class="flex-item">
            <div class="block">
              <h2 class="zone">Amazon <label style="width:150px">{{amazon}}</label>USD</h2>
              <div class="flex">
                <div class="flex-item">
                  <canvas baseChart
                          [datasets]="amazonData"
                          [labels]="amazonLabels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [chartType]="lineChartType"
                          [plugins]="lineChartPlugins"
                          [legend]="false" class="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <h2 class="zone">Google <label style="width:150px">{{google}}</label>USD</h2>
          <div class="flex">
            <div class="flex-item">
              <div style="display: block;">
                <canvas baseChart
                        [datasets]="googleData"
                        [labels]="googleLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins"
                        [legend]="false" class="canvas" Theme="'dark-theme"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <h2 class="zone">Apple <label style="width:150px">{{apple}}</label>USD</h2>
          <div class="flex">
            <div class="flex-item">
              <div style="display: block;">
                <canvas baseChart
                        [datasets]="appleData"
                        [labels]="appleLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins"
                        [legend]="false" class="canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row col" style="padding:0!important;margin:0px!important;">
          <form [formGroup]="brokerForm">
            <input class="text input textArea" formControlName="broker" placeholder="Introduce el username del broker...">
            <input type="submit" class="submit" (click)="upgradeBroker()" style="position: absolute" value="Upgrade">
          </form>
        </div>
        <div class="textArea">
          <div *ngFor="let msg of messages">
            <span style="color:rgba(0,79,186,0.95);padding-right:20px">[{{msg['date']}}]</span> <span style="color:black">{{msg['username']}}<br> {{msg['msg']}}</span>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
