.borderStyle{
  border: black solid 3px;
  border-radius: 2px;
}
.brokerName{
  background-color: #242c37;
  color: #FFFFFF;
  font-weight: 600;
}
.pointer1:hover{
  cursor: pointer;
  color: #51d64d!important;
}
.pointer2:hover{
  cursor: pointer;
  color: #ff0b00!important;
}
.scrollBar{
  overflow-y: scroll;
  overflow-x: hidden;
}
.scrollBar::-webkit-scrollbar-track, .textAreaPublic::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
  border-radius: 10px;
}
.scrollBar::-webkit-scrollbar, .textAreaPublic::-webkit-scrollbar * {
  background:transparent;
}
.scrollBar::-webkit-scrollbar, .textAreaPublic::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}

.scrollBar::-webkit-scrollbar-thumb, .textAreaPublic::-webkit-scrollbar-thumb
{
  background-color: #000000;
}
@media (max-width: 749px) {
  .heightAlign{
    height: 300px;
  }
}
@media (min-width: 750px) and (max-width: 1149px) {
  .heightAlign{
    height: 400px;
  }
}
@media (min-width: 1150px) and (max-width: 1599px) {
  .heightAlign{
    height: 550px;
  }
}
@media (min-width: 1600px) {
  .heightAlign{
    height: 700px;
  }
  .brokerName{
    font-size: 20px;
  }
}


