#admin{
  text-align: center;
  min-height: 1500px;
}
.input{
  width: 815px;
  height: 60px;
  margin-bottom: 40px;
}
.textArea{
  color:black;
}
.submit{
  height: 60px;
  margin-bottom: 40px;
  margin-left: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow:inset 0px 10px 10px rgba(0,239,247,1),
  -1px 1px 0px 0 rgba(0,0,0,.2),
  -2px 2px 0px 0 rgba(0,0,0,.2),
  -3px 3px 0px 0 rgba(0,0,0,.2),
  -4px 4px 0px 0 rgba(0,0,0,.2);
  outline: none;
  background-color: #000000;
  border-color: #000000;
  color: white;
}
.submit:active{
  box-shadow:inset 0px 10px 10px rgba(0,239,247,1),
  -1px 1px 0px 0 rgba(0,0,0,.2);
}
.col-11{
  margin-left:10px!important;
}

