<div id="profile" class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-4 m-auto">
      <h2>Cambio de contraseña</h2>
      <hr class="black_hr text-center">
    </div>
  </div>
  <div class="row">
    <form class="col-lg-5 m-auto col-sm-12 p-0" [formGroup]="updatepassForm" (ngSubmit)="updatePass()" >
      <input type="password" class="input-text"  formControlName="password1"  placeholder=" Contraseña" [(ngModel)]="password1">
      <input type="password" class="input-text"  formControlName="password2"  placeholder=" Repetir contraseña" [(ngModel)]="password2">
      <div class="back-next">
        <input type="submit" class="r-button mt-3 profileButton" value="Guardar" [disabled]="(password1 !== password2) || !password1">
      </div>
    </form>
  </div>
</div>
