@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
  font-family: "Roboto", sans-serif !important;
}
.black_hr {
  border: solid 1px #000;
  width: 80px;
  height: 1px;
  background-color: #000;
}
