<div class="d-flex justify-content-center mt-5" *ngIf="!loaded">
  <div class="spinner-border" role="status" style="height:100px; width:100px">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div id="public" *ngIf="loaded">
  <div class="container-fluid">
    <div id="charts" class="row mt-5">
      <div class="col-6" style="display: block">
        <div class="title text-center col-7 m-auto">
          <h2>Amazon</h2>
        </div>
          <canvas baseChart class="grafix"
                  [datasets]="amazonData"
                  [labels]="amazonLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  [colors]="barChartColors">
          </canvas>
      </div>
      <div class="col-6" style="display: block">
        <div class="title text-center col-7 m-auto">
          <h2>Google</h2>
        </div>
        <canvas baseChart class="grafix"
                [datasets]="googleData"
                [labels]="googleLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="barChartColors">
        </canvas>
      </div>
      <div class="col-6" style="display: block">
        <div class="title text-center col-7 m-auto">
          <h2>Apple</h2>
        </div>
        <canvas baseChart class="grafix"
                [datasets]="appleData"
                [labels]="appleLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="barChartColors">
        </canvas>
      </div>
      <div class="col-6" style="display: block">
        <div class="title text-center col-7 m-auto">
          <h2>Microsoft</h2>
        </div>
        <canvas baseChart class="grafix"
                [datasets]="microsoftData"
                [labels]="microsoftLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="barChartColors">
        </canvas>
      </div>
    </div>
    <div class="row mt-5 mb-5" >
      <div class="col-lg-6 col-md-12">
            <table class="heightAlign table table-bordered table-striped">
              <thead class="title">
              <tr>
                <td>Empresa</td>
                <td>Precio ayer</td>
                <td>Precio actual</td>
              </tr>
              </thead>
              <tbody class="data">
              <tr>
                <td class="align-middle">Amazon</td>
                <td class="align-middle">{{prices.amazon.past}}</td>
                <td class="align-middle">{{prices.amazon.current}}  <fa-icon *ngIf="prices.amazon.past < prices.amazon.current" [icon]="faCaretUpp" style="color:greenyellow" class="fa-lg"></fa-icon>
                  <fa-icon *ngIf="prices.amazon.past > prices.amazon.current" [icon]="faCaretDown" style="color:red" class="fa-lg"></fa-icon>
                </td>
              </tr>
              <tr>
                <td class="align-middle">Google</td>
                <td class="align-middle">{{prices.google.past}}</td>
                <td class="align-middle">{{prices.google.current}}  <fa-icon *ngIf="prices.google.past < prices.google.current" [icon]="faCaretUpp" style="color:greenyellow" class="fa-lg"></fa-icon>
                  <fa-icon *ngIf="prices.google.past > prices.google.current" [icon]="faCaretDown" style="color:red" class="fa-lg"></fa-icon>
                </td>
              </tr>
              <tr>
                <td class="align-middle">Apple</td>
                <td class="align-middle">{{prices.apple.past}}</td>
                <td class="align-middle">{{prices.apple.current}}  <fa-icon *ngIf="prices.apple.past < prices.apple.current" [icon]="faCaretUpp" style="color:greenyellow" class="fa-lg"></fa-icon>
                  <fa-icon *ngIf="prices.apple.past > prices.apple.current" [icon]="faCaretDown" style="color:red" class="fa-lg"></fa-icon>
                </td>
              </tr>
              <tr>
                <td class="align-middle">Microsoft</td>
                <td class="align-middle">{{prices.microsoft.past}}</td>
                <td class="align-middle">{{prices.microsoft.current}}  <fa-icon *ngIf="prices.microsoft.past < prices.microsoft.current" [icon]="faCaretUpp" style="color:greenyellow" class="fa-lg"></fa-icon>
                  <fa-icon *ngIf="prices.microsoft.past > prices.microsoft.current" [icon]="faCaretDown" style="color:red" class="fa-lg"></fa-icon>
                </td>
              </tr>
              </tbody>
            </table>
      </div>
      <div class="col-lg-6 col-md-12 mx-auto">
        <div class="textArea col-12 heightAlign data">
          <div *ngFor="let msg of messages">
            <span style="font-weight: 600">[{{msg['date']}}] {{msg['username']}}</span> <br><span>{{msg['msg']}}</span>
            <br>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

