<div id="home">
<div id="head" class="mb-3">
  <div id="title" class="position-absolute" style="z-index: 1">
    <div class="col-12">REAL TIME</div>
    <div class="col-12">STOCK ANALYSIS</div>
  </div>
  <img src="../../assets/media/header.jpg" class="container-fluid position-relative" style="padding:0;">
</div>
  <div id="joinus" class="col-12 mb-3"><button [routerLink]="['/register']" class="joinButton">¡ Unete al equipo !</button></div>

  <div id="slider1" class="carousel slide col-lg-6 col-md-8 col-sm-12" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="50000">
        <blockquote class="blockquote text-center cita">
          <p class="mb-3">Desde que me he unido a Real Time Stock Analysis gano unos 3000€ más todos los meses. Sin duda alguna la mejor decisión que he podido tomar.</p>
          <footer class="blockquote-footer">Carmen Pérez García</footer>
        </blockquote>
      </div>
      <div class="carousel-item" data-interval="50000">
        <blockquote class="blockquote text-center cita">
          <p class="mb-3">Necesitaba dinero para pagar la casa, un amigo me recomendó esta página y a día de hoy cubro los gastos de la hipoteca e incluso 1000€ más.</p>
          <footer class="blockquote-footer">Jose Luís Martínez Gómez</footer>
        </blockquote>
      </div>
      <div class="carousel-item" data-interval="50000">
        <blockquote class="blockquote text-center cita">
          <p class="mb-3">Siempre quise invertir en bolsa pero me daba miedo perder dinero. Desde que entre a esta página ya no tengo dudas, nunca pense que fuera tan fácil.</p>
          <footer class="blockquote-footer">Sara Rivas Alonso</footer>
        </blockquote>
      </div>
    </div>
    <a class="carousel-control-prev" href="#slider1" role="button" data-slide="prev" style="color:black">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black"></span>
      <span class="sr-only" style="color:black">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slider1" role="button" data-slide="next" style="color:black">
      <span class="carousel-control-next-icon" aria-hidden="true" style="color:black"></span>
      <span class="sr-only" style="color:black">Next</span>
    </a>
  </div>
  <div class="container-fluid">
  <div class="row m-0">
  <div id="slider2" class="carousel slide col-xl-6 col-lg-12" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/media/home-1.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/media/home-2.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/media/home-3.jpg">
      </div>
    </div>
  </div>
  <div id="description" class="col-xl-6 col-lg-12 row">
      <div id="txt" class="col align-self-center">
      <p>En Real Time Stock Analysis contamos con el mejor equipo de brokers, que te guiarán a la hora de invertir tu dinero.
        Contamos con HighSpeed servers, que te permitiran ver el precio de tus acciones en tiempo real.<br>
        No te lo pienses más y únete a nuestro equipo. Veras tus ingresos aumentar desde la primera semana.<br>
        Nuestro lema es: ¡Si ganas tu, ganamos todos! Ha llegado el momento de que cambies tu vida, no te lo
        pienses más y forma parte del mejor equipo de inversión en bolsa.</p>
      </div>
  </div>
</div>
</div>
</div>
