#slider1{
  margin: 6rem auto;
  padding: 0 1rem;
}
#slider2{
  padding: 0 1rem;
}
#description{
  padding: 0 1rem;
  text-align: center;
}
#txt{
  padding: 0 1rem;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  filter: invert(100%);
}
.cita{
  width: 80%;
  margin: 0 auto;
}
#title{
  color: white;
  margin-top: 17%;
  margin-left: 2%;
  font-weight: 600;
}
#joinus{
  text-align: center;
}
.joinButton{
  background: #4c4c4e;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.joinButton:hover{
  background:#fff;
  color:#4c4c4e;
}
.joinButton:before,.joinButton:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #4c4c4e;
  transition:400ms ease all;
}
.joinButton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.joinButton:hover:before,.joinButton:hover:after{
  width:100%;
  transition:800ms ease all;
}
@media (max-width: 799px) {
  #title{
    font-size: 30px;
  }
  #description{
    font-size: 15px;
  }
}
@media (min-width: 800px) and (max-width: 1149px) {
  #title{
    font-size: 40px;
  }
  #description{
    font-size: 20px;
  }
}
@media (min-width: 1150px) and (max-width: 1354px) {
  #title{
    font-size: 55px;
  }
  #description{
    font-size: 25px;
  }
}
@media (min-width: 1355px) and (max-width: 1599px) {
  #title{
    font-size: 65px;
  }
  #description{
    font-size: 30px;
  }
}
@media (min-width: 1600px) {
  #title{
    font-size: 75px;
  }
  #description{
    font-size: 33px;
  }
}


