<div id="register" class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-4 m-auto">
      <h2>Regístrate</h2>
      <hr class="black_hr text-center">
    </div>
  </div>
  <div class="row">
    <form class="col-lg-5 m-auto col-sm-12 p-0" [formGroup]="registerForm" (ngSubmit)="register()" >
      <input type="text" class="input-text"  formControlName="username"  placeholder=" Email">
      <input type="password" class="input-text"  formControlName="password1"  placeholder=" Contraseña" [(ngModel)]="password1">
      <input type="password" class="input-text"  formControlName="password2"  placeholder=" Repite Contraseña" [(ngModel)]="password2">
      <div class="back-next">
        <input type="submit" class="r-button mt-3 registerButton" value="Regístrate" [disabled]="(password1 !== password2) || !password1">
      </div>
    </form>
    <div class="col-12">
      <div id="sign-up" class="pt-5">Si ya tienes una cuenta <a routerLink="/login" class="underline">Inicia sesión</a></div>
    </div>
  </div>
</div>
