.input-text{
  width: 60%;
  border-style: none;
  border-bottom: 2px solid black;
  margin: 0 auto 2rem auto;
}
.input-text:focus{
  outline: none;
}
#register{
  margin: 90px auto 114px auto;
  text-align: center;
}
